{{ define "main" }}
  <article class="note">
    <h1 class="note__title">
      {{ .Title }}
    </h1>

    <time class="note__date">
      {{ .PublishDate.Format "January 2, 2006" }}
    </time>

    {{ .Content }}

    <div class="note__comments">
      <script src="https://giscus.app/client.js"
        data-repo="dnordstrom/dnordstrom.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzODUwNTM5MDY="
        data-category="Notes"
        data-category-id="DIC_kwDOFvN00s4CP3oA"
        data-mapping="title"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="https://giscus.app/themes/light.css"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
      </script>
    </div>
  </article>
{{ end }}
