@font-face {
	font-family: "Input Sans Compressed";
	font-display: block;
	font-weight: normal;
	font-style: normal;

	src: url("//cloud.typenetwork.com/projectLicenseWeb/30327/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/30327/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30327/fontfile/woff2/?5478d29adea99f85124c064ee1766958952d10fc") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30327/fontfile/woff/?5478d29adea99f85124c064ee1766958952d10fc") format("woff");

}



@font-face {
	font-family: "Input Sans Compressed";
	font-display: block;
	font-weight: normal;
	font-style: italic;

	src: url("//cloud.typenetwork.com/projectLicenseWeb/30328/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/30328/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30328/fontfile/woff2/?5478d29adea99f85124c064ee1766958952d10fc") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30328/fontfile/woff/?5478d29adea99f85124c064ee1766958952d10fc") format("woff");

}



@font-face {
	font-family: "Input Sans Compressed";
	font-display: block;
	font-weight: 500;
	font-style: normal;

	src: url("//cloud.typenetwork.com/projectLicenseWeb/30329/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/30329/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30329/fontfile/woff2/?5478d29adea99f85124c064ee1766958952d10fc") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30329/fontfile/woff/?5478d29adea99f85124c064ee1766958952d10fc") format("woff");

}



@font-face {
	font-family: "Input Sans Compressed";
	font-display: block;
	font-weight: 500;
	font-style: italic;

	src: url("//cloud.typenetwork.com/projectLicenseWeb/30330/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/30330/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30330/fontfile/woff2/?5478d29adea99f85124c064ee1766958952d10fc") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30330/fontfile/woff/?5478d29adea99f85124c064ee1766958952d10fc") format("woff");

}



@font-face {
	font-family: "Input Sans Compressed";
	font-display: block;
	font-weight: 700;
	font-style: normal;

	src: url("//cloud.typenetwork.com/projectLicenseWeb/30331/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/30331/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30331/fontfile/woff2/?5478d29adea99f85124c064ee1766958952d10fc") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30331/fontfile/woff/?5478d29adea99f85124c064ee1766958952d10fc") format("woff");

}



@font-face {
	font-family: "Input Sans Compressed";
	font-display: block;
	font-weight: 700;
	font-style: italic;

	src: url("//cloud.typenetwork.com/projectLicenseWeb/30332/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/30332/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30332/fontfile/woff2/?5478d29adea99f85124c064ee1766958952d10fc") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30332/fontfile/woff/?5478d29adea99f85124c064ee1766958952d10fc") format("woff");

}



@font-face {
	font-family: "Input Mono Compressed";
	font-display: block;
	font-weight: normal;
	font-style: normal;

	src: url("//cloud.typenetwork.com/projectLicenseWeb/30333/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/30333/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30333/fontfile/woff2/?5478d29adea99f85124c064ee1766958952d10fc") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30333/fontfile/woff/?5478d29adea99f85124c064ee1766958952d10fc") format("woff");

}



@font-face {
	font-family: "Input Mono Compressed";
	font-display: block;
	font-weight: normal;
	font-style: italic;

	src: url("//cloud.typenetwork.com/projectLicenseWeb/30334/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/30334/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30334/fontfile/woff2/?5478d29adea99f85124c064ee1766958952d10fc") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30334/fontfile/woff/?5478d29adea99f85124c064ee1766958952d10fc") format("woff");

}



@font-face {
	font-family: "Input Mono Compressed";
	font-display: block;
	font-weight: 500;
	font-style: normal;

	src: url("//cloud.typenetwork.com/projectLicenseWeb/30335/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/30335/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30335/fontfile/woff2/?5478d29adea99f85124c064ee1766958952d10fc") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30335/fontfile/woff/?5478d29adea99f85124c064ee1766958952d10fc") format("woff");

}



@font-face {
	font-family: "Input Mono Compressed";
	font-display: block;
	font-weight: 500;
	font-style: italic;

	src: url("//cloud.typenetwork.com/projectLicenseWeb/30336/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/30336/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30336/fontfile/woff2/?5478d29adea99f85124c064ee1766958952d10fc") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30336/fontfile/woff/?5478d29adea99f85124c064ee1766958952d10fc") format("woff");

}



@font-face {
	font-family: "Input Mono Compressed";
	font-display: block;
	font-weight: 700;
	font-style: normal;

	src: url("//cloud.typenetwork.com/projectLicenseWeb/30337/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/30337/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30337/fontfile/woff2/?5478d29adea99f85124c064ee1766958952d10fc") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30337/fontfile/woff/?5478d29adea99f85124c064ee1766958952d10fc") format("woff");

}



@font-face {
	font-family: "Input Mono Compressed";
	font-display: block;
	font-weight: 700;
	font-style: italic;

	src: url("//cloud.typenetwork.com/projectLicenseWeb/30338/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/30338/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30338/fontfile/woff2/?5478d29adea99f85124c064ee1766958952d10fc") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30338/fontfile/woff/?5478d29adea99f85124c064ee1766958952d10fc") format("woff");

}



@font-face {
	font-family: "Input Serif Compressed";
	font-display: block;
	font-weight: normal;
	font-style: normal;

	src: url("//cloud.typenetwork.com/projectLicenseWeb/30339/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/30339/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30339/fontfile/woff2/?5478d29adea99f85124c064ee1766958952d10fc") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30339/fontfile/woff/?5478d29adea99f85124c064ee1766958952d10fc") format("woff");

}



@font-face {
	font-family: "Input Serif Compressed";
	font-display: block;
	font-weight: normal;
	font-style: italic;

	src: url("//cloud.typenetwork.com/projectLicenseWeb/30340/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/30340/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30340/fontfile/woff2/?5478d29adea99f85124c064ee1766958952d10fc") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30340/fontfile/woff/?5478d29adea99f85124c064ee1766958952d10fc") format("woff");

}



@font-face {
	font-family: "Input Serif Compressed";
	font-display: block;
	font-weight: 500;
	font-style: normal;

	src: url("//cloud.typenetwork.com/projectLicenseWeb/30341/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/30341/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30341/fontfile/woff2/?5478d29adea99f85124c064ee1766958952d10fc") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30341/fontfile/woff/?5478d29adea99f85124c064ee1766958952d10fc") format("woff");

}



@font-face {
	font-family: "Input Serif Compressed";
	font-display: block;
	font-weight: 500;
	font-style: italic;

	src: url("//cloud.typenetwork.com/projectLicenseWeb/30342/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/30342/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30342/fontfile/woff2/?5478d29adea99f85124c064ee1766958952d10fc") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30342/fontfile/woff/?5478d29adea99f85124c064ee1766958952d10fc") format("woff");

}



@font-face {
	font-family: "Input Serif Compressed";
	font-display: block;
	font-weight: 700;
	font-style: normal;

	src: url("//cloud.typenetwork.com/projectLicenseWeb/30343/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/30343/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30343/fontfile/woff2/?5478d29adea99f85124c064ee1766958952d10fc") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30343/fontfile/woff/?5478d29adea99f85124c064ee1766958952d10fc") format("woff");

}



@font-face {
	font-family: "Input Serif Compressed";
	font-display: block;
	font-weight: 700;
	font-style: italic;

	src: url("//cloud.typenetwork.com/projectLicenseWeb/30344/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/30344/fontfile/eot/?5478d29adea99f85124c064ee1766958952d10fc#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30344/fontfile/woff2/?5478d29adea99f85124c064ee1766958952d10fc") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/30344/fontfile/woff/?5478d29adea99f85124c064ee1766958952d10fc") format("woff");

}

body {
  background: #ECEFF4;
  font: normal 18px/1.6 'Input Sans Compressed', sans-serif;
  color: #404040;
  margin: 60px 20px;
}

header,
main {
  margin: 0 auto;
  max-width: 60ch;
}

nav {
  position: absolute;
  top: 10px;
  right: 10px;
}

header h1,
header h1 a,
header h1 a:hover {
  font-size: 2rem;
  border-bottom: none;
}

footer {
  padding: 80px 0 20px;
  text-align: center;
}

a,
a:hover {
  text-decoration: none;
  color: #5E81AC;
}

a:hover {
  border-bottom: 1px solid #5E81AC;
}

blockquote {
  background: #E5E9F0;
  font-family: 'Input Sans Compressed', sans-serif;
  margin: 3.5ch 0 3.5ch 2ch;
  padding: 0 2ch 0 2ch;
  font-style: italic;
  border: 2px solid transparent;
  border-left: 2px solid #EBCB8B;
}

pre {
  background: #f0f0f0;
  font-family: 'Input Mono Compressed', monospace;
  padding: 4px 8px;
}

pre code {
  padding: 0;
}

code {
  background: #f0f0f0;
  font-family: 'Input Mono Compressed', monospace;
  font-size: 0.85em;
  border-radius: 3px;
  padding: 2px 4px;
}

time {
  font-family: 'Input Mono Compressed', monospace;
  font-size: 0.65em;
  padding: 0 2ch 0 0;
}

.home ul {
  list-style-type: none;
  font-size: 1.5em;
  padding: 0;
}

/* Fonts

.inputsanscompressedregular {
  font-family: "Input Sans Comp Reg";
  font-display: block;
  font-style: normal;
  font-weight: normal;
}

.inputsanscompresseditalic {
  font-family: "Input Sans Comp It";
  font-display: block;
  font-style: italic;
  font-weight: normal;
}

.inputsanscompressedmedium {
  font-family: "Input Sans Comp Med";
  font-display: block;
  font-style: normal;
  font-weight: normal;
}

.inputsanscompressedmediumitalic {
  font-family: "Input Sans Comp Med It";
  font-display: block;
  font-style: italic;
  font-weight: normal;
}

.inputsanscompressedbold {
  font-family: "Input Sans Comp Bd";
  font-display: block;
  font-style: normal;
  font-weight: normal;
}

.inputsanscompressedbolditalic {
  font-family: "Input Sans Comp Bd It";
  font-display: block;
  font-style: italic;
  font-weight: normal;
}

.inputmonocompressedregular {
  font-family: "Input Mono Comp Reg";
  font-display: block;
  font-style: normal;
  font-weight: normal;
}

.inputmonocompresseditalic {
  font-family: "Input Mono Comp It";
  font-display: block;
  font-style: italic;
  font-weight: normal;
}

.inputmonocompressedmedium {
  font-family: "Input Mono Comp Med";
  font-display: block;
  font-style: normal;
  font-weight: normal;
}

.inputmonocompressedmediumitalic {
  font-family: "Input Mono Comp Med It";
  font-display: block;
  font-style: italic;
  font-weight: normal;
}

.inputmonocompressedbold {
  font-family: "Input Mono Comp Bd";
  font-display: block;
  font-style: normal;
  font-weight: normal;
}

.inputmonocompressedbolditalic {
  font-family: "Input Mono Comp Bd It";
  font-display: block;
  font-style: italic;
  font-weight: normal;
}

.inputserifcompressedregular {
  font-family: "Input Serif Comp Reg";
  font-display: block;
  font-style: normal;
  font-weight: normal;
}

.inputserifcompresseditalic {
  font-family: "Input Serif Comp It";
  font-display: block;
  font-style: italic;
  font-weight: normal;
}

.inputserifcompressedmedium {
  font-family: "Input Serif Comp Med";
  font-display: block;
  font-style: normal;
  font-weight: normal;
}

.inputserifcompressedmediumitalic {
  font-family: "Input Serif Comp Med It";
  font-display: block;
  font-style: italic;
  font-weight: normal;
}

.inputserifcompressedbold {
  font-family: "Input Serif Comp Bd";
  font-display: block;
  font-style: normal;
  font-weight: normal;
}

.inputserifcompressedbolditalic {
  font-family: "Input Serif Comp Bd It";
  font-display: block;
  font-style: italic;
  font-weight: normal;
}

*/
