/* Background */ html[data-theme="dark"] .chroma { color: #f8f8f2; /* background-color: #282a36 */ }
/* Other */ html[data-theme="dark"] .chroma .x {  }
/* Error */ html[data-theme="dark"] .chroma .err {  }
/* LineTableTD */ html[data-theme="dark"] .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ html[data-theme="dark"] .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ html[data-theme="dark"] .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ html[data-theme="dark"] .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ html[data-theme="dark"] .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ html[data-theme="dark"] .chroma .k { color: #ff79c6 }
/* KeywordConstant */ html[data-theme="dark"] .chroma .kc { color: #ff79c6 }
/* KeywordDeclaration */ html[data-theme="dark"] .chroma .kd { color: #8be9fd; font-style: italic }
/* KeywordNamespace */ html[data-theme="dark"] .chroma .kn { color: #ff79c6 }
/* KeywordPseudo */ html[data-theme="dark"] .chroma .kp { color: #ff79c6 }
/* KeywordReserved */ html[data-theme="dark"] .chroma .kr { color: #ff79c6 }
/* KeywordType */ html[data-theme="dark"] .chroma .kt { color: #8be9fd }
/* Name */ html[data-theme="dark"] .chroma .n {  }
/* NameAttribute */ html[data-theme="dark"] .chroma .na { color: #50fa7b }
/* NameBuiltin */ html[data-theme="dark"] .chroma .nb { color: #8be9fd; font-style: italic }
/* NameBuiltinPseudo */ html[data-theme="dark"] .chroma .bp {  }
/* NameClass */ html[data-theme="dark"] .chroma .nc { color: #50fa7b }
/* NameConstant */ html[data-theme="dark"] .chroma .no {  }
/* NameDecorator */ html[data-theme="dark"] .chroma .nd {  }
/* NameEntity */ html[data-theme="dark"] .chroma .ni {  }
/* NameException */ html[data-theme="dark"] .chroma .ne {  }
/* NameFunction */ html[data-theme="dark"] .chroma .nf { color: #50fa7b }
/* NameFunctionMagic */ html[data-theme="dark"] .chroma .fm {  }
/* NameLabel */ html[data-theme="dark"] .chroma .nl { color: #8be9fd; font-style: italic }
/* NameNamespace */ html[data-theme="dark"] .chroma .nn {  }
/* NameOther */ html[data-theme="dark"] .chroma .nx {  }
/* NameProperty */ html[data-theme="dark"] .chroma .py {  }
/* NameTag */ html[data-theme="dark"] .chroma .nt { color: #ff79c6 }
/* NameVariable */ html[data-theme="dark"] .chroma .nv { color: #8be9fd; font-style: italic }
/* NameVariableClass */ html[data-theme="dark"] .chroma .vc { color: #8be9fd; font-style: italic }
/* NameVariableGlobal */ html[data-theme="dark"] .chroma .vg { color: #8be9fd; font-style: italic }
/* NameVariableInstance */ html[data-theme="dark"] .chroma .vi { color: #8be9fd; font-style: italic }
/* NameVariableMagic */ html[data-theme="dark"] .chroma .vm {  }
/* Literal */ html[data-theme="dark"] .chroma .l {  }
/* LiteralDate */ html[data-theme="dark"] .chroma .ld {  }
/* LiteralString */ html[data-theme="dark"] .chroma .s { color: #f1fa8c }
/* LiteralStringAffix */ html[data-theme="dark"] .chroma .sa { color: #f1fa8c }
/* LiteralStringBacktick */ html[data-theme="dark"] .chroma .sb { color: #f1fa8c }
/* LiteralStringChar */ html[data-theme="dark"] .chroma .sc { color: #f1fa8c }
/* LiteralStringDelimiter */ html[data-theme="dark"] .chroma .dl { color: #f1fa8c }
/* LiteralStringDoc */ html[data-theme="dark"] .chroma .sd { color: #f1fa8c }
/* LiteralStringDouble */ html[data-theme="dark"] .chroma .s2 { color: #f1fa8c }
/* LiteralStringEscape */ html[data-theme="dark"] .chroma .se { color: #f1fa8c }
/* LiteralStringHeredoc */ html[data-theme="dark"] .chroma .sh { color: #f1fa8c }
/* LiteralStringInterpol */ html[data-theme="dark"] .chroma .si { color: #f1fa8c }
/* LiteralStringOther */ html[data-theme="dark"] .chroma .sx { color: #f1fa8c }
/* LiteralStringRegex */ html[data-theme="dark"] .chroma .sr { color: #f1fa8c }
/* LiteralStringSingle */ html[data-theme="dark"] .chroma .s1 { color: #f1fa8c }
/* LiteralStringSymbol */ html[data-theme="dark"] .chroma .ss { color: #f1fa8c }
/* LiteralNumber */ html[data-theme="dark"] .chroma .m { color: #bd93f9 }
/* LiteralNumberBin */ html[data-theme="dark"] .chroma .mb { color: #bd93f9 }
/* LiteralNumberFloat */ html[data-theme="dark"] .chroma .mf { color: #bd93f9 }
/* LiteralNumberHex */ html[data-theme="dark"] .chroma .mh { color: #bd93f9 }
/* LiteralNumberInteger */ html[data-theme="dark"] .chroma .mi { color: #bd93f9 }
/* LiteralNumberIntegerLong */ html[data-theme="dark"] .chroma .il { color: #bd93f9 }
/* LiteralNumberOct */ html[data-theme="dark"] .chroma .mo { color: #bd93f9 }
/* Operator */ html[data-theme="dark"] .chroma .o { color: #ff79c6 }
/* OperatorWord */ html[data-theme="dark"] .chroma .ow { color: #ff79c6 }
/* Punctuation */ html[data-theme="dark"] .chroma .p {  }
/* Comment */ html[data-theme="dark"] .chroma .c { color: #6272a4 }
/* CommentHashbang */ html[data-theme="dark"] .chroma .ch { color: #6272a4 }
/* CommentMultiline */ html[data-theme="dark"] .chroma .cm { color: #6272a4 }
/* CommentSingle */ html[data-theme="dark"] .chroma .c1 { color: #6272a4 }
/* CommentSpecial */ html[data-theme="dark"] .chroma .cs { color: #6272a4 }
/* CommentPreproc */ html[data-theme="dark"] .chroma .cp { color: #ff79c6 }
/* CommentPreprocFile */ html[data-theme="dark"] .chroma .cpf { color: #ff79c6 }
/* Generic */ html[data-theme="dark"] .chroma .g {  }
/* GenericDeleted */ html[data-theme="dark"] .chroma .gd { color: #ff5555 }
/* GenericEmph */ html[data-theme="dark"] .chroma .ge { text-decoration: underline }
/* GenericError */ html[data-theme="dark"] .chroma .gr {  }
/* GenericHeading */ html[data-theme="dark"] .chroma .gh { font-weight: bold }
/* GenericInserted */ html[data-theme="dark"] .chroma .gi { color: #50fa7b; font-weight: bold }
/* GenericOutput */ html[data-theme="dark"] .chroma .go { color: #44475a }
/* GenericPrompt */ html[data-theme="dark"] .chroma .gp {  }
/* GenericStrong */ html[data-theme="dark"] .chroma .gs {  }
/* GenericSubheading */ html[data-theme="dark"] .chroma .gu { font-weight: bold }
/* GenericTraceback */ html[data-theme="dark"] .chroma .gt {  }
/* GenericUnderline */ html[data-theme="dark"] .chroma .gl { text-decoration: underline }
/* TextWhitespace */ html[data-theme="dark"] .chroma .w {  }
