<title>{{ with .Param "title" }}{{ . }} - {{ end}}The NORD Notes</title>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="Creative technical problem-solver. Developer of whatever is needed. Advocate of technological openness, transparency, privacy, and diplomacy. Audiophilosopher.">
<meta name="author" content="Daniel Nordstrom">
<link rel="stylesheet" href="/styles/main.css">
<link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL }}/index.xml" title="{{ .Site.Title }}">

