<a id="icon-github" href="https://github.com/dnordstrom" title="GitHub">
  <span class="iconify-inline" data-icon="mdi:github" style="color: #A3BE8C;" data-width="18" data-height="18"></span>
</a>
<a id="icon-linkedin" href="https://linkedin.com/in/mrnordstrom" title="LinkedIn">
  <span class="iconify-inline" data-icon="mdi:linkedin" style="color: #A3BE8C;" data-width="18" data-height="18"></span>
</a>
<a id="icon-reddit" href="https://reddit.com/u/dnordstrom" title="Reddit">
  <span class="iconify-inline" data-icon="mdi:reddit" style="color: #A3BE8C;" data-width="18" data-height="18"></span>
</a>
<a id="icon-twitter" href="https://twitter.com/mrnordstrom" title="Twitter">
  <span class="iconify-inline" data-icon="mdi:twitter" style="color: #A3BE8C;" data-width="18" data-height="18"></span>
</a>
