<!-- Matomo (self-hosted analytics, nothing invasive) -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//nords.cloud/analytics/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//nords.cloud/analytics/matomo.php?idsite=2&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->

<script>
  (() => {
    // Set up dark mode toggler
    const root = document.getElementsByTagName('html')[0];
    const button = document.getElementById('mode-toggle');
    const savedTheme = localStorage.getItem('theme');

    if (savedTheme) {
      root.dataset.theme = savedTheme;
      button.href = `#${savedTheme === 'dark' ? 'light' : 'dark'}`;
    }

    button.addEventListener('click', (event) => {
      event.preventDefault()

      const currentTheme = root.dataset.theme;
      const newTheme = currentTheme === 'dark' ? 'light' : 'dark';

      root.dataset.theme = newTheme;
      button.href = `#${currentTheme}`; // For showing in status bar
      localStorage.setItem('theme', newTheme);
    })
  })();
</script>
