/* Background */ html[data-theme="light"] .chroma { /* background-color: #ffffff */ }
/* Other */ html[data-theme="light"] .chroma .x {  }
/* Error */ html[data-theme="light"] .chroma .err { color: #ff0000; background-color: #ffaaaa }
/* LineTableTD */ html[data-theme="light"] .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ html[data-theme="light"] .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ html[data-theme="light"] .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ html[data-theme="light"] .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ html[data-theme="light"] .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ html[data-theme="light"] .chroma .k { color: #228899; font-weight: bold }
/* KeywordConstant */ html[data-theme="light"] .chroma .kc { color: #228899; font-weight: bold }
/* KeywordDeclaration */ html[data-theme="light"] .chroma .kd { color: #228899; font-weight: bold }
/* KeywordNamespace */ html[data-theme="light"] .chroma .kn { color: #228899; font-weight: bold }
/* KeywordPseudo */ html[data-theme="light"] .chroma .kp { color: #0088ff; font-weight: bold }
/* KeywordReserved */ html[data-theme="light"] .chroma .kr { color: #228899; font-weight: bold }
/* KeywordType */ html[data-theme="light"] .chroma .kt { color: #6666ff; font-weight: bold }
/* Name */ html[data-theme="light"] .chroma .n {  }
/* NameAttribute */ html[data-theme="light"] .chroma .na { color: #000077 }
/* NameBuiltin */ html[data-theme="light"] .chroma .nb { color: #007722 }
/* NameBuiltinPseudo */ html[data-theme="light"] .chroma .bp {  }
/* NameClass */ html[data-theme="light"] .chroma .nc { color: #ee99ee; font-weight: bold }
/* NameConstant */ html[data-theme="light"] .chroma .no { color: #55eedd; font-weight: bold }
/* NameDecorator */ html[data-theme="light"] .chroma .nd { color: #555555; font-weight: bold }
/* NameEntity */ html[data-theme="light"] .chroma .ni { color: #880000 }
/* NameException */ html[data-theme="light"] .chroma .ne { color: #ff0000; font-weight: bold }
/* NameFunction */ html[data-theme="light"] .chroma .nf { color: #55eedd; font-weight: bold }
/* NameFunctionMagic */ html[data-theme="light"] .chroma .fm {  }
/* NameLabel */ html[data-theme="light"] .chroma .nl { color: #997700; font-weight: bold }
/* NameNamespace */ html[data-theme="light"] .chroma .nn { color: #0e84b5; font-weight: bold }
/* NameOther */ html[data-theme="light"] .chroma .nx {  }
/* NameProperty */ html[data-theme="light"] .chroma .py {  }
/* NameTag */ html[data-theme="light"] .chroma .nt { color: #007700 }
/* NameVariable */ html[data-theme="light"] .chroma .nv { color: #003366 }
/* NameVariableClass */ html[data-theme="light"] .chroma .vc { color: #ccccff }
/* NameVariableGlobal */ html[data-theme="light"] .chroma .vg { color: #ff8844 }
/* NameVariableInstance */ html[data-theme="light"] .chroma .vi { color: #aaaaff }
/* NameVariableMagic */ html[data-theme="light"] .chroma .vm {  }
/* Literal */ html[data-theme="light"] .chroma .l {  }
/* LiteralDate */ html[data-theme="light"] .chroma .ld {  }
/* LiteralString */ html[data-theme="light"] .chroma .s { background-color: #e0e0ff }
/* LiteralStringAffix */ html[data-theme="light"] .chroma .sa { background-color: #e0e0ff }
/* LiteralStringBacktick */ html[data-theme="light"] .chroma .sb { background-color: #e0e0ff }
/* LiteralStringChar */ html[data-theme="light"] .chroma .sc { color: #8888ff; background-color: #e0e0ff }
/* LiteralStringDelimiter */ html[data-theme="light"] .chroma .dl { background-color: #e0e0ff }
/* LiteralStringDoc */ html[data-theme="light"] .chroma .sd { color: #dd4422; background-color: #e0e0ff }
/* LiteralStringDouble */ html[data-theme="light"] .chroma .s2 { background-color: #e0e0ff }
/* LiteralStringEscape */ html[data-theme="light"] .chroma .se { color: #666666; background-color: #e0e0ff; font-weight: bold }
/* LiteralStringHeredoc */ html[data-theme="light"] .chroma .sh { background-color: #e0e0ff }
/* LiteralStringInterpol */ html[data-theme="light"] .chroma .si { background-color: #eeeeee }
/* LiteralStringOther */ html[data-theme="light"] .chroma .sx { color: #ff8888; background-color: #e0e0ff }
/* LiteralStringRegex */ html[data-theme="light"] .chroma .sr { color: #000000; background-color: #e0e0ff }
/* LiteralStringSingle */ html[data-theme="light"] .chroma .s1 { background-color: #e0e0ff }
/* LiteralStringSymbol */ html[data-theme="light"] .chroma .ss { color: #ffcc88; background-color: #e0e0ff }
/* LiteralNumber */ html[data-theme="light"] .chroma .m { color: #6600ee; font-weight: bold }
/* LiteralNumberBin */ html[data-theme="light"] .chroma .mb { color: #6600ee; font-weight: bold }
/* LiteralNumberFloat */ html[data-theme="light"] .chroma .mf { color: #6600ee; font-weight: bold }
/* LiteralNumberHex */ html[data-theme="light"] .chroma .mh { color: #005588; font-weight: bold }
/* LiteralNumberInteger */ html[data-theme="light"] .chroma .mi { color: #6666ff; font-weight: bold }
/* LiteralNumberIntegerLong */ html[data-theme="light"] .chroma .il { color: #6600ee; font-weight: bold }
/* LiteralNumberOct */ html[data-theme="light"] .chroma .mo { color: #4400ee; font-weight: bold }
/* Operator */ html[data-theme="light"] .chroma .o { color: #333333 }
/* OperatorWord */ html[data-theme="light"] .chroma .ow { color: #000000; font-weight: bold }
/* Punctuation */ html[data-theme="light"] .chroma .p {  }
/* Comment */ html[data-theme="light"] .chroma .c { color: #666666; font-style: italic }
/* CommentHashbang */ html[data-theme="light"] .chroma .ch { color: #666666; font-style: italic }
/* CommentMultiline */ html[data-theme="light"] .chroma .cm { color: #666666; font-style: italic }
/* CommentSingle */ html[data-theme="light"] .chroma .c1 { color: #666666; font-style: italic }
/* CommentSpecial */ html[data-theme="light"] .chroma .cs { color: #cc0000; font-weight: bold; font-style: italic }
/* CommentPreproc */ html[data-theme="light"] .chroma .cp { color: #557799 }
/* CommentPreprocFile */ html[data-theme="light"] .chroma .cpf { color: #557799 }
/* Generic */ html[data-theme="light"] .chroma .g {  }
/* GenericDeleted */ html[data-theme="light"] .chroma .gd { color: #a00000 }
/* GenericEmph */ html[data-theme="light"] .chroma .ge { font-style: italic }
/* GenericError */ html[data-theme="light"] .chroma .gr { color: #ff0000 }
/* GenericHeading */ html[data-theme="light"] .chroma .gh { color: #000080; font-weight: bold }
/* GenericInserted */ html[data-theme="light"] .chroma .gi { color: #00a000 }
/* GenericOutput */ html[data-theme="light"] .chroma .go { color: #888888 }
/* GenericPrompt */ html[data-theme="light"] .chroma .gp { color: #c65d09; font-weight: bold }
/* GenericStrong */ html[data-theme="light"] .chroma .gs { font-weight: bold }
/* GenericSubheading */ html[data-theme="light"] .chroma .gu { color: #800080; font-weight: bold }
/* GenericTraceback */ html[data-theme="light"] .chroma .gt { color: #0044dd }
/* GenericUnderline */ html[data-theme="light"] .chroma .gl { text-decoration: underline }
/* TextWhitespace */ html[data-theme="light"] .chroma .w { color: #bbbbbb }
